.ticker-list {
  background: white;

  margin: 0 auto;
  max-width:  800px;
  padding: 30px 50px;

  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  &__text {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
  }
}